<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        {{>header}}
        <div class="content">
            <p>Use this site to get your weather!</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="location"></p>
            <p id="weather"></p>
            <p id="temp"></p>
            <p id="feels"></p>
        </div>
        {{>footer}}
    </div>
    <script src="/js/script.js"></script>
</body>
</html>